server {
    listen 80;
    server_name {{ vue_domain }};
    root {{ vue_path }}/{{ vue_domain }}/current/dist;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
